<!-- <p align="left">
<div class="btn" onclick="clusterM('MEI')">Ocultar Materias MEI</div> <div class="btn" onclick="clusterM('MO')">Ocultar Materias MO</div>
</p> -->
<div id="mynetwork" style="height:auto"></div>

<script type='text/javascript' src='/js/tinycolor.js'></script>

<script type="text/javascript">
  var colorC = '#26394c'
  var hcolorC = tinycolor(colorC).lighten(10).toString()
  var colorB = tinycolor(colorC).spin(270).toString()
  var hcolorB = tinycolor(colorB).lighten(10).toString()
  var colorF = '#03818a'
  var widthF = 2



  // create an array with nodes
   var nodes = new vis.DataSet([
    // Iniciales
    {id: 'mate1', label: 'Matemática 1', group: 'C', title: 'Cuatrimestral', level: 0},
    {id: 'mate3', label: 'Matemática 3', group: 'C', title: 'Cuatrimestral', level: 1},
    {id: 'fisica1', label: 'Física 1', group: 'C', title: 'Cuatrimestral', level: 0},
    {id: 'quimica', label: 'Química General \ne Inorgánica para \nCiencias de la Atmósfera', group: 'C', title: 'Cuatrimestral', level: 0},
    {id: 'fisica2', label: 'Física 2', group: 'C', title: 'Cuatrimestral', level: 1},
    
    // Intermedia 
    {id: 'meteo-general', label: 'Meteorología \nGeneral', group: 'C', title: 'Cuatrimestral', level: 0},
    {id: 'estadistica1', label: 'Estadística para \nel Sistema Climático 1', group: 'C', title: 'Cuatrimestral', level: 1},
    {id: 'termo', label: 'Procesos Termodinámicos \nen la Atmósfera', group: 'C', title: 'Cuatrimestral', level: 1},
    {id: 'intro-dinamica', label: 'Introducción a la \nDinámica de la Atmósfera', group: 'B', title: 'Bimestral', level: 2},
    {id: 'radiacion', label: 'Radiación', group: 'B', title: 'Bimestral', level: 1},
    {id: 'clima', label: 'Climatología', group: 'C', title: 'Cuatrimestral', level: 3},
    {id: 'pequena-escala', label: 'Procesos Atmosféricos \nen Pequeña Escala', group: 'B', title: 'Bimestral', level: 3},
    {id: 'ondas1', label: 'Ondas en \nla Atmósfera 1', group: 'B', title: 'Bimestral', level: 4},
    {id: 'labo-procesamiento', label: 'Laboratorio de Procesamiento \nde Información Meteorológica', group: 'C', title: 'Cuatrimestral', level: 2},
    {id: 'ondas2', label: 'Ondas en \nla Atmósfera 2', group: 'B', title: 'Bimestral', level: 4},
    {id: 'sinoptica', label: 'Meteorología \nSinóptica', group: 'C', title: 'Cuatrimestral', level: 5}
]);

  // create an array with edges
  var edges = new vis.DataSet([
    {to: 'mate3', from: 'mate1', title: 'TP', color: 'black'},
    
    {to: 'fisica2', from: 'fisica1', title: 'TP', color: 'black'},
    
    {to: 'estadistica1', from: 'mate1', title: 'TP', color: 'black'},
    {to: 'estadistica1', from: 'meteo-general', title: 'TP', color: 'black'},

    {to: 'termo', from: 'meteo-general', title: 'Final', color: colorF, width: widthF}, 
    {to: 'termo', from: 'fisica1', title: 'TP', color: 'black'}, 
    {to: 'termo', from: 'quimica', title: 'TP', color: 'black'}, 

    {to: 'intro-dinamica', from: 'meteo-general', title: 'Final', color: colorF, width: widthF}, 
    {to: 'intro-dinamica', from: 'fisica1', title: 'TP', color: 'black'}, 
    {to: 'intro-dinamica', from: 'mate3', title: 'TP', color: 'black'}, 

    {to: 'radiacion', from: 'meteo-general', title: 'Final', color: colorF, width: widthF}, 
    {to: 'radiacion', from: 'fisica1', title: 'TP', color: 'black'}, 

    {to: 'clima', from: 'estadistica1', title: 'Final', color: colorF, width: widthF}, 
    {to: 'clima', from: 'intro-dinamica', title: 'TP', color: 'black'}, 
    {to: 'clima', from: 'termo', title: 'TP', color: 'black'}, 
    {to: 'clima', from: 'radiacion', title: 'TP', color: 'black'},

    {to: 'pequena-escala', from: 'fisica1', title: 'Final', color: colorF, width: widthF},
    {to: 'pequena-escala', from: 'intro-dinamica', title: 'TP', color: 'black'},
    {to: 'pequena-escala', from: 'termo', title: 'TP', color: 'black'},
    {to: 'pequena-escala', from: 'estadistica1', title: 'TP', color: 'black'},

    {to: 'ondas1', from: 'fisica2', title: 'TP', color: 'black'},
    {to: 'ondas1', from: 'pequena-escala', title: 'TP', color: 'black'},

    {to: 'labo-procesamiento', from: 'mate1', title: 'Final', color: colorF, width: widthF},
    {to: 'labo-procesamiento', from: 'meteo-general', title: 'Final', color: colorF, width: widthF},
    {to: 'labo-procesamiento', from: 'estadistica1', title: 'TP', color: 'black'},

    {to: 'ondas2', from: 'mate3', title: 'Final', color: colorF, width: widthF},
    {to: 'ondas2', from: 'fisica2', title: 'TP', color: 'black'},
    {to: 'ondas2', from: 'pequena-escala', title: 'TP', color: 'black'},

    {to: 'sinoptica', from: 'termo', title: 'Final', color: colorF, width: widthF},
    {to: 'sinoptica', from: 'intro-dinamica', title: 'Final', color: colorF, width: widthF},
    {to: 'sinoptica', from: 'clima', title: 'TP', color: 'black'},
    {to: 'sinoptica', from: 'ondas1', title: 'TP', color: 'black'},
    {to: 'sinoptica', from: 'labo-procesamiento', title: 'TP', color: 'black'},

  ]);


  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };

  var options = 
  {
    height: '600px',
  	edges: {
      arrows: {
        to: {enabled: true, scaleFactor: 0.8}
      },
  		color: 'black',
      smooth: {
        type: "vertical",
        roundness: 0.55,
      }
  	},
    groups: {
              B: {
                  color: {
                    border: colorB,
                    background:colorB,
                    hover: {
                      border: hcolorB,
                      background: hcolorB, 
                    },
                    highlight: {
                      border: hcolorB,
                      background: hcolorB, 
                    }
                    },
                  font: {color: '#FFFFFF'}
              },
              C: {
                  color: {
                    border: colorC,
                    background: colorC,
                    hover: {
                      border: hcolorC,
                      background: hcolorC, 
                    },
                    highlight: {
                      border: hcolorC,
                      background: hcolorC, 
                    }
                    },
                  font: {color: '#FFFFFF'}
              },
          },
	 layout: {
	  hierarchical: {
      enabled: true,
      sortMethod: 'directed',
      direction: 'UD',
      nodeSpacing: 120,
      levelSpacing: 200,
      blockShifting: true,
      edgeMinimization: true,
      parentCentralization: true,
      }
	  },

    physics: {
      enabled: true,
      hierarchicalRepulsion: {
        centralGravity: 0.0,
        springLength: 350,
        springConstant: 0.001,
        nodeDistance: 190,
        damping: 0.01
      }
    },

    nodes: {
      margin: 10,
      shape: 'box',
      shapeProperties: {
        borderRadius: 30
      }
    },
    font: {
      size: 20,
      face: 'Georgia'
    },
    interaction :{
      hoverConnectedEdges: true,
      hover: true,
    },
  	};

  var network = new vis.Network(container, data, options);


network.on("doubleClick", function (params) {
         if (params.nodes.length === 1) {
            var node = nodes.get(params.nodes[0]);
            var sitio = '{{ sire.url }}';
            window.open(sitio.concat('/materias-at/', node.id), '_parent');
         }
  });

  // function clusterM(g) {
  //     network.setData(data);
  //     var clusterOptionsByData = {
  //         joinCondition:function(childOptions) {
  //             return childOptions.group == g;
  //         },
  //         clusterNodeProperties: {
  //           id:'cluster-MEI',
  //           label: 'Materias \nMEI',
  //           shape:'box',
  //           group: g,
  //           shapeProperties: { borderRadius: 30 }
  //         }
  //     };
  //     network.cluster(clusterOptionsByData);
  // }
</script> 

