<script type="text/javascript">
  // create an array with nodes
   var nodes = new vis.DataSet([
    // obligatorias
    {id: 'meteo-general', label: 'Meteorología \nGeneral', group: 'Obligatoria', level: 0},
    {id: 'mate1', label: 'Matemática 1', group: 'Obligatoria', level: 0},
    {id: 'mate2', label: 'Matemática 2', group: 'Obligatoria', level: 0},
    {id: 'mate3', label: 'Matemática 3', group: 'Obligatoria', level: 1},
    {id: 'f1', label: 'Física 1', group: 'Obligatoria', level: 1},
    {id: 'proba', label: 'Probabilidades \ny Estadística', group: 'Obligatoria', level: 2},
    {id: 'fmezcla', label: 'Física 3', group: 'Obligatoria', level: 2},
    {id: 'labo1', label: 'Laboratorio 1', group: 'Obligatoria', level: 2},
    {id: 'mate4', label: 'Matemática 4', group: 'Obligatoria', level: 3},
    {id: 'meteo-teorica', label: 'Meteorología \nTeórica', group: 'Obligatoria', level: 3},
    {id: 'clima', label: 'Climatología', group: 'Obligatoria', level: 4},
    {id: 'dinamica', label: 'Dinámica de la \nAtmósfera 1', group: 'Obligatoria', level: 4},
    {id: 'sinoptica', label: 'Meteorología \nSinóptica', group: 'Obligatoria', level: 5},
    {id: 'calculo', label: 'Cálculo Numérico', group: 'Obligatoria', level: 5},
    {id: 'conveccion', label: 'Convección y \nMicrofísica de Nubes', group: 'Obligatoria', level: 6},
    {id: 'f2', label: 'Física 2', group: 'Obligatoria', level: 6},
    {id: 'labo2', label: 'Laboratorio 2', group: 'Obligatoria', level: 7},

    // MEI
    {id: 'observacion', label: 'Observación de \nla Atmósfera', group: 'MEI', level: 5},
    {id: 'metodos-est', label: 'Métodos Estadísticos \nen Ciencias de \nla Atmósfera 1', group: 'MEI', level: 6},
    {id: 'mecanica', label: 'Mecánica de \nlos Fluidos', group: 'MEI', level: 6},
    {id: 'metodos-num', label: 'Métodos Numéricos en \nCiencias de la Atmósfera', group: 'MEI', level: 7},
    {id: 'turbulencia', label: 'Turulencia y Capa \nLímite de la Atmósfera', group: 'MEI', level: 7},
    {id: 'labo', label: 'Laboratorio de \nPrevisión del Tiempo', group: 'MEI', level: 7},
    {id: 'circulacion', label: 'Circulación General \nde la Atmósfera', group: 'MEI', level: 7},
    {id: 'prono', label: 'Pronóstico Numérico', group: 'MEI', level: 8},
    {id: 'mecanica-clasica', label: 'Mecánica Clásica', group: 'MEI', level: 7},
    {id: 'clima-dinamica', label: 'Climatología Dinámica', group: 'MEI', level: 6},
    {id: 'quimica', label: 'Química General \ne Inorgánica 1', group: 'MEI', level: 0, x: 300},


    // MO
    {id: 'contaminacion', label: 'Contaminación \nAtmosférica', group: 'MO', level: 7},
    {id: 'hidro', label: 'Hidrología', group: 'MO', level: 5},
    {id: 'cambio-climatico', label: 'Cambio Climático', group: 'MO', level: 5},
    {id: 'agricola', label: 'Meteorología Agrícola 1', group: 'MO', level: 6},
    {id: 'meso', label: 'Mesometeorología', group: 'MO', level: 8},
    {id: 'sensores-remotos', label: 'Principios y Aplicaciones \nde Sensores Remotos', group: 'MO', level: 7},
    {id: 'dinamica-alta', label: 'Dinámica de la \nAlta Atmósfera', group: 'MO', level: 7}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {from: 'meteo-general', to: 'proba', title: 'Final', color: 'red', color: 'red'},
    {from: 'meteo-general', to: 'meteo-teorica', title: 'TP'},

    {from: 'mate1', to: 'proba', title: 'TP'},
    {from: 'mate1', to: 'mate3', title: 'TP'},
    {from: 'mate1', to: 'labo1', title: 'TP'},
    {from: 'mate1', to: 'labo2', title: 'TP'},

    {from: 'mate2', to: 'calculo', title: 'TP'},
    {from: 'mate2', to: 'mecanica-clasica', title: 'Final', color: 'red'},

    {from: 'mate3', to: 'mate4', title: 'TP'},
    {from: 'mate3', to: 'fmezcla', title: 'TP'},
    {from: 'mate3', to: 'mecanica-clasica', title: 'Final', color: 'red'},

    {from: 'f1', to: 'mecanica-clasica', title: 'Final', color: 'red'},
    {from: 'f1', to: 'fmezcla', title: 'TP'},
    {from: 'f1', to: 'f2', title: 'TP'},
    {from: 'f1', to: 'meteo-teorica', title: 'Final', color: 'red'},

    {from: 'mate4', to: 'metodos-est', title: 'TP'},
    {from: 'mate4', to: 'mecanica', title: 'TP'},
    {from: 'mate4', to: 'metodos-num', title: 'TP'},
    
    {from: 'meteo-teorica', to: 'hidro', title: 'TP'},
    {from: 'meteo-teorica', to: 'clima', title: 'TP'},
    {from: 'meteo-teorica', to: 'mecanica', title: 'TP'},
    {from: 'meteo-teorica', to: 'dinamica', title: 'TP'},
    {from: 'meteo-teorica', to: 'observacion', title: 'TP'},
    {from: 'meteo-teorica', to: 'sinoptica', title: 'Final', color: 'red'},

    {from: 'clima', to: 'clima-dinamica', title: 'Final', color: 'red'},    
    {from: 'clima', to: 'cambio-climatico', title: 'TP'},
    {from: 'clima', to: 'agricola', title: 'TP'},
    {from: 'clima', to: 'metodos-est', title: 'TP'},
    {from: 'clima', to: 'sinoptica', title: 'TP'},   

    {from: 'dinamica', to: 'sinoptica', title: 'TP'},    
    {from: 'dinamica', to: 'metodos-num', title: 'TP'},
    {from: 'dinamica', to: 'circulacion', title: 'Final', color: 'red'},
    {from: 'dinamica', to: 'prono', title: 'Final', color: 'red'},

    {from: 'sinoptica', to: 'clima-dinamica', title: 'TP'},
    {from: 'sinoptica', to: 'conveccion', title: 'TP'},
    {from: 'sinoptica', to: 'labo', title: 'TP'},
    {from: 'sinoptica', to: 'circulacion', title: 'TP'},
    {from: 'sinoptica', to: 'prono', title: 'TP'},

    {from: 'metodos-num', to: 'prono', title: 'TP'},

    {from: 'calculo', to: 'prono', title: 'TP'},

    {from: 'f2', to: 'mecanica-clasica', title: 'TP'},
    {from: 'f2', to: 'sensores-remotos', title: 'TP'},
    {from: 'f2', to: 'dinamica-alta', title: 'TP'},
    {from: 'f2', to: 'labo2', title: 'TP'},

    {from: 'mecanica', to: 'contaminacion', title: 'TP'},
    {from: 'mecanica', to: 'turbulencia', title: 'TP'},

    
    

    
    
    {from: 'conveccion', to: 'meso', title: 'TP'},
    

  ]);


  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };

  var options = 
  {
    physics: {
      solver: 'hierarchicalRepulsion',
      stabilization: true,
      hierarchicalRepulsion: { 
        springConstant: 0.0001
                }
    },

  	edges: {
  		color: 'black',
      smooth: {
        type: "horizontal",
        roundness: 0.55,
      }
  	},
    
	 layout: {
	  hierarchical: {
	  	enabled: true,
      treeSpacing: 10,
	  	blockShifting: false,
      edgeMinimization: true,
      levelSeparation: 200,
      sortMethod: 'directed',
      parentCentralization: false,
      nodeDistance: 300,
      springLength: 300
	  	}
	  },

    nodes: {
      margin: 10,
      shape: 'box',
      shapeProperties: {
        borderRadius: 30
      }
    },
    font: {
      size: 16,
      face: 'Georgia'
    }
  	};

  var network = new vis.Network(container, data, options);
  network.on("selectNode", function(params) {
      if (params.nodes.length == 1) {
          if (network.isCluster(params.nodes[0]) == true) {
              network.openCluster(params.nodes[0]);
          }
      }
  });


  function clusterM(g) {
      network.setData(data);
      var clusterOptionsByData = {
          joinCondition:function(childOptions) {
              return childOptions.group == g;
          },
          clusterNodeProperties: {
            id:'cluster-MEI',
            label: 'Materias \nMEI',
            shape:'box',
            group: g,
            shapeProperties: { borderRadius: 30 }
          }
      };
      network.cluster(clusterOptionsByData);
  }
</script> 